#options {
    position: relative;
}

.optionGroup {
    margin: 2em;
    max-width: 33em;
}

.optionGroup * {
    margin: 0.2em;
}

.optionGroup input {
    width: 7em;
}

.optionGroup input[type="range"] {
    width: 15em;
}

.optionGroup select {
    width: 17em;
}

.optionsBottom {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}

.optionsBottom > * {
    margin-right: 0.5em;
}

#colorPicker {
    position: absolute;
    bottom: 1em;
    right: 1em;
    height: 266px;
    width: 180px;
}

#colorPickerLabel {
    position: relative;
    top: -4em;
    left: -1.5em;
    width: max-content;
}

/*picnic.css override*/
input[type="range"] {
    padding-left: 0;
    padding-right: 0;
}