#preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#previewMain {
    position: relative;
}

#previewImage {
    padding: 0.2em;
    border: solid black;
    max-height: 45vh;
    max-width: 40vw;
}

.previewInfo {
    position: absolute;
    bottom: 0.5em;
}

.previewInfo.left {
    left: 0.5em;
}

.previewInfo.right {
    right: 0.5em;
}

#warningIcon {
    margin-left: 0.5em;
    cursor: pointer;
}

#previewLoader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 50vh;
    max-width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--loading-bg);
    opacity: 0.7;
}

#previewLoader .loader {
    color: black;
    position: relative;
    top: -25px;
}
