:root {
    --common-font-primary: #dcddde;
    --common-font-secondary: #A0A3A7;
    --common-primary: #0074d9;
    --common-primary-light: #2f8ada;
    --common-delete: #ff0000;
    --common-warn: #FF8000;


    --common-bg: #36393f;
    --common-bg-dark: #26282C;

    /*=========== Elements ===============*/
    --acknowledgements: #e2b007;

    --options-bg: var(--common-bg);

    --preview-bg: var(--common-bg);
    --loading-bg: #FFFFFF;

    --timeline-bg: var(--common-bg-dark);
    --timeline-item-bg: #808080;
    --timeline-placeholder: var(--common-primary-light);
}