@import "colors.css";
@import "globals.css";

@import "options.css";
@import "preview.css";
@import "timeline.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#hidden {
    display: none;
}

#content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto 40%;
    grid-template-areas:
    "options preview"
    "timeline timeline";
}

#options {
    grid-area: options;
    background-color: var(--options-bg);
}

#preview {
    grid-area: preview;
    background-color: var(--preview-bg);
}

#timeline {
    grid-area: timeline;
    background-color: var(--timeline-bg);
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow, .flexColumn > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.endContent {
    flex-grow: 1;
    justify-content: flex-end;
}