#options {
    position: relative;
}

#addImage {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

/*color-picker override*/
.color-picker-alpha-input.range-input-control {
    display: none;
}
.color-picker {
    min-height: 266px;
}