#options {
    position: relative;
}

#colorPicker {
    position: absolute;
    bottom: 1em;
    right: 1em;
    height: 266px;
    width: 180px;
}

#colorPickerLabel {
    position: relative;
    top: -2em;
}

/*picnic.css override*/
input[type="range"] {
    padding-left: 0;
    padding-right: 0;
}

/*color-picker override*/
.color-picker-alpha-input.range-input-control {
    display: none;
}
.color-picker {
    min-height: 266px;
}