#preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#previewImage {
    padding: 0.2em;
    border: solid black;
    max-height: 50vh;
    max-width: 40vw;
}

.previewInfo {
    position: absolute;
    bottom: 0.5em;
}

.previewInfo.left {
    left: 0.5em;
}

.previewInfo.right {
    right: 0.5em;
}

#previewLoader {
    position: relative;
}

#previewLoader .loader {
    color: black;
    position: absolute;
    bottom: -7em;
    left: -7em;
}
