#preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#previewImage {
    padding: 0.2em;
    border: solid black;
    max-height: 50vh;
}

.previewInfo {
    position: absolute;
    bottom: 0.5em;
}

.previewInfo.left {
    left: 0.5em;
}

.previewInfo.right {
    right: 0.5em;
}