#preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previewInfo {
    position: absolute;
    bottom: 0.5em;
}

.previewInfo.left {
    left: 0.5em;
}

.previewInfo.right {
    right: 0.5em;
}