#timeline {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

#timeline.hover {
    background-color: var(--timeline-bg-hover);
}

#grid {
    position: absolute;
    width: 100%;
    height: var(--blockSize);
    margin-left: 2em;
}

.item {
    position: absolute;
    display: block;
    background-color: var(--timeline-item-bg);
    width: var(--blockSize);
    height: var(--blockSize);
    margin: 5px;
    z-index: 1;
    cursor: grab;
    border-radius: 5px;
    color: var(--common-font-primary);
}

.buttonRow {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}

.itemDuplicate {
    cursor: pointer;
    width: 2em;
    height: 2em;
}

.itemDelete {
    cursor: pointer;
    width: 2em;
    height: 2em;
}

.item svg {
    width: 100%;
    height: 100%;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.imageInfo {
    position: absolute;
    bottom: 0.2em;
    text-align: center;
    width: 100%;
}

/*========= Muuri ============================*/
.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.muuri-item-placeholder {
    background-color: var(--timeline-placeholder);
    border-radius: 25%;
}